<a href="https://colab.research.google.com/github/najlaak1998/homework2-/blob/main/homework3other.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
numTOTALEVEN=0
numTOTALodd=0
for number in range(0,101):
  if number%2==0:
    numTOTALEVEN=number+numTOTALEVEN
    print (number,"is even")
  elif number%2!=0:
    numTOTALodd=number+numTOTALodd
    print (number,"is odd")
print("TOTAL odd:",numTOTALodd)

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
25 is odd
26 is even
27 is odd
28 is even
29 is odd
30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
38 is even
39 is odd
40 is even
41 is odd
42 is even
43 is odd
44 is even
45 is odd
46 is even
47 is odd
48 is even
49 is odd
50 is even
51 is odd
52 is even
53 is odd
54 is even
55 is odd
56 is even
57 is odd
58 is even
59 is odd
60 is even
61 is odd
62 is even
63 is odd
64 is even
65 is odd
66 is even
67 is odd
68 is even
69 is odd
70 is even
71 is odd
72 is even
73 is odd
74 is even
75 is odd
76 is even
77 is odd
78 is even
79 is odd
80 is even
81 is odd
82 is even
83 is odd
84 is even
85 is odd
86 is even
87 is odd
88 is even
89 is odd
90 is even
91 is odd
92 is even
93 is odd
94 is even
95 is odd
96 is even
97 is odd
98 is even
99 is odd
100 is even
TOTAL odd: 2500

In [ ]:
for number in range(4,-1,-1): 
    print("hello",(number+1),(number+1)*"*")

hello 5 *****
hello 4 ****
hello 3 ***
hello 2 **
hello 1 *

In [ ]:
for number in reversed(range(5)): 
    print("hello",(number+1),(number+1)*"*")

hello 5 *****
hello 4 ****
hello 3 ***
hello 2 **
hello 1 *

In [ ]:
name1=input("enter name:")
for num in name1:
  print(num)

enter name:najlaa
n
a
j
l
a
a

In [ ]:
Num = int(input("Enter number if prime or not: ")) 
count = 0 
for i in range(1,(Num+1)): 
   if Num % i == 1: 
      count += 1 
   if count == 2: 
      
          print(i,"The Number is Prime" ) 
          print(Num % i)
          print(count)
   else: 
       
          print(i,"The Number is not Prime")
          print(Num % i)
          print(count)

Enter number if prime or not: 10
1 The Number is not Prime
0
0
2 The Number is not Prime
0
0
3 The Number is not Prime
1
1
4 The Number is not Prime
2
1
5 The Number is not Prime
0
1
6 The Number is not Prime
4
1
7 The Number is not Prime
3
1
8 The Number is not Prime
2
1
9 The Number is Prime
1
2
10 The Number is Prime
0
2

In [ ]:
i=1
while i<6:
 print(i)
 i=i+1

1
2
3
4
5

In [ ]:
for num in range(1,10):
  print(num)
  if(num==6):
    break

1
2
3
4
5
6

In [ ]:
colors=["red","blue","white","black"]
print(colors[0],colors[2])
print(colors[0][2])
colors[0]=colors[1]
print(colors[0])
print(colors[-1])
print(colors[-4])

red white
d
blue
black
blue

In [ ]:
colors=["red","blue","white","black"]
for num in range(0,4):
  print(colors[num])

red
blue
white
black

In [ ]:
colors.sort()
print(colors)

['black', 'blue', 'red', 'white']

In [ ]:
names=["mohamad","ahmad","lames"]
names.sort()
print(names)

['ahmad', 'lames', 'mohamad']

In [ ]:
cars=["Corona","Ford"]
cars.sort()
print(cars)

['Corona', 'Ford']

In [ ]:
cars.insert(0,"Volvo")
print(cars)

['Volvo', 'Corona', 'Ford']

In [ ]:
number1=int(input("enter number1="))
number2=int(input("enter number2="))

def sum():
 print(number1+number2)

def Subtract():
 print(number1-number2)

def Multiplication():
   print(number1*number2)


sum()
Subtract()
Multiplication()

enter number1=5
enter number2=6
11
-1
30

In [ ]:
number1=int(input("enter number1="))
number2=int(input("enter number2="))
number3=int(input("enter number3="))
def The_biggest_value():
  if(number1>number2>number3):
    print(number1)
  elif(number2>number1>number3):
    print(number2)
  elif(number3>number1>number2):
     print(number3)
The_biggest_value()

enter number1=55
enter number2=88
enter number3=10
88

In [ ]:
def sum():
 print(number1+number2)

def Subtract():
 print(number1-number2)

def Multiplication():
   print(number1*number2)

def Division():
   print(number1/number2)

sum()
Subtract()
Multiplication()
Division()

In [ ]:
number12=int(input("enter number1="))
number22=int(input("enter number2="))
print("enter number operater 1 for + 2 for - 3 for * 4 for /")
calculations=int(input("enter number operater="))



def collecting(number12,number22):
 print(number12+number22)


def subtract1(number12,number22):
 print(number12-number22)


def Multiplication(number12,number22):
   print(number12*number22)

def Division(number12,number22):
   print(number12/number22)

if calculations==1:
  collecting(number12,number22)
elif calculations==2:
  subtract1(number12,number22)
elif calculations==3:
  Multiplication(number12,number22)
elif calculations==4:
  Division(number12,number22)

enter number1=8
enter number2=5
enter number operater 1 for + 2 for - 3 for * 4 for /
enter number operater=2
3

In [ ]:
number123=int(input("enter number1="))
number222=int(input("enter number2="))
print("enter number operater 1 for + 2 for - 3 for * 4 for /")
calculations1=int(input("enter number operater="))


def collecting():
 print(number123+number222)


def subtract1():
 print(number123-number222)


def Multiplication():
   print(number123*number222)

def Division():
   print(number12/number22)

if calculations1==1:
  collecting()
elif calculations1==2:
  subtract1()
elif calculations1==3:
  Multiplication()
elif calculations1==4:
  Division()

enter number1=8
enter number2=2
enter number operater 1 for + 2 for - 3 for * 4 for /
enter number operater=2
6